.product-img-section {
  background-color: #fff6f2;
  padding: 30px 0;
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img-section h1,
.product-info-section h1 {
  font-size: 20px;
  color: #ff8080;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* product-img */
.add-img-div {
  display: flex;
}

.small-img-div {
  margin-left: 50px;
}

.small-imgs {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
}

.small-imgs div {
  width: 120px;
  height: 170px;
  background-color: white;
  box-shadow: 0 0 10px #ffcfcf;
}

.main-img-div {
  width: 400px;
  height: 550px;
  background-color: white;
  box-shadow: 0 0 10px #ffcfcf;
}

.main-img-div img,
.small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-img-div {
  width: 100%;
  height: 100%;
}

.main-img-div input,
.small-img input {
  width: 1px;
  height: 1px;
  display: block;
}

.main-img-div label,
.small-img label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-img-div .bx,
.small-img .bx {
  font-size: 30px;
  color: lightgrey;
}

/* product-info-section */

.product-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  background-color: rgb(250, 250, 250);
  padding: 30px;
}

#product-info-div {
  padding: 20px;
  display: flex;
  gap: 100px;
}

/* form-left-div */

.form-left-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rent-sell label {
  font-size: 15px;
}

.rent-sell input {
  width: 18px;
  height: 18px;
}

.sell,
.rent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.product-price,
.product-category,
.product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-product-name label,
.product-price label,
.product-category label,
.product-description label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.add-product-name input,
.product-price input,
.product-category select {
  width: 350px;
  height: 40px;
  border: 1px solid lightgrey;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  background-color: white;
  box-shadow: 3px 3px 6px lightgrey;
  border-radius: 4px;
}

.product-price input:disabled {
  background-color: rgb(227, 227, 227);
  cursor: not-allowed;
}

/* form-right-div */

.form-right-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-description textarea {
  width: 600px;
  height: 80px;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 6px lightgrey;
  border-radius: 4px;
}

#size-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.sizes {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.product-size .size {
  margin-bottom: 5px;
}

.product-size label {
  font-size: 16px;
  width: 50px;
  display: inline-block;
}

.product-size input {
  width: 100px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  border: 1px solid lightgrey;
  background-color: white;
  box-shadow: 3px 3px 6px lightgrey;
  border-radius: 4px;
}

/* form-buttons */

.form-buttons button {
  padding: 10px 30px;
  border: 1px solid #ff8080;
  cursor: pointer;
  box-shadow: 3px 3px 6px lightgrey;
  border-radius: 4px;
}

.form-buttons #submit {
  background-color: #ff8080;
  color: white;
  margin-right: 20px;
}

.form-buttons #reset {
  background-color: white;
  color: #ff8080;
}

.form-buttons #submit:hover,
.form-buttons #reset:hover {
  background-color: #fff6f2;
  color: #ff8080;
}
