.bag-section {
  width: 100%;
  height: 80vh;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-div img {
  width: 200px;
}

.bag-div p {
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
  padding: 20px 0;
}

.bag-div a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px 40px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  border: 1px solid black;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.bag-div a:hover {
  background-color: #ff8080;
}

/* bag */

.bag-item-section {
  display: flex;
  padding: 20px 100px;
  background-color: rgb(246, 245, 245);
}

/* bag-item */

.bag-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.item-num {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 6px rgb(222, 222, 222);
  margin-bottom: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}
.item-num P {
  font-size: 18px;
  font-weight: 500;
  color: #ff8080;
}

.item {
  display: flex;
  flex: 1;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 6px rgb(222, 222, 222);
  padding: 15px;
  border-radius: 5px;
}

.item-img {
  margin-right: 10px;
}

.item-img img {
  width: 120px;
  height: 170px;
  object-fit: cover;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.item-name {
  font-size: 20px;
  font-weight: 500;
}

.item-price {
  font-size: 18px;
  color: rgb(100, 100, 100);
}

.item-buttons {
  display: flex;
}

.quantity-button {
  display: flex;
}

.q-minus,
.q-plus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;
}

.q-number {
  border: 1px solid grey;
  padding: 0 10px;
  font-size: 18px;
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
}

.remove-button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}
.remove-button:hover {
  color: #ff8080;
}

.place-order {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 6px rgb(222, 222, 222);
  margin-top: 10px;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.place-order button {
  padding: 10px 40px;
  background-color: #ff8080;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* bag total */

.bag-total {
  width: 400px;
  height: fit-content;
  box-shadow: 0 0 6px rgb(222, 222, 222);
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.item-price-total {
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.total,
.dc,
.total-amt {
  display: flex;
  justify-content: space-between;
}

.price-details {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ff8080;
  border-bottom: 1px solid #ff8080;
}

.total p,
.dc p,
.total-amt p {
  font-size: 18;
  margin: 10px 0;
  font-weight: 500;
  color: grey;
}

.total-amt p {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

@media (max-width: 799px) {
  .bag-section {
    width: 100%;
    height: 60vh;
  }

  .bag-div img {
    width: 150px;
  }

  .bag-div p {
    font-size: 30px;
  }

  /* bag */

  .bag-item-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  /* bag-item */

  .bag-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 0;
  }

  .item-num P {
    font-size: 16px;
  }

  .item-img img {
    width: 80px;
    height: 120px;
  }

  .item-name {
    font-size: 12px;
  }

  .item-price {
    font-size: 14px;
  }

  .remove-button {
    font-size: 14px;
  }

  /* bag total */

  .bag-total {
    width: 100%;
  }

  .price-details {
    font-size: 15px;
  }

  .total p,
  .dc p,
  .total-amt p {
    font-size: 14;
  }

  .total-amt p {
    font-size: 14px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .bag-section {
    width: 100%;
    height: 60vh;
  }

  .bag-div img {
    width: 150px;
  }

  .bag-div p {
    font-size: 30px;
  }

  .bag-item-section {
    padding: 20px;
  }

  .bag-total {
    width: 300px;
  }
}
