* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

h1 {
  text-align: center;
  color: #ff8080;
}
.para {
  margin: 10px 20px;
  text-align: center;
  width: 90%;
  font-size: 18px;
  /* font-weight: 500; */
}

.box1 {
  text-align: center;
  margin: 5% 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box2 {
  margin: 50px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact {
  margin: 12% 0 0 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  margin: 20px 0;
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
.map {
  margin: 5% 0 0 0;
}
.google-map iframe {
  margin: 50px 150px;
}

@media (max-width: 768px) {
  .contact {
    font-size: 25px;
    margin: 35% 0 0 0;
  }
  .para {
    margin: 2em 0;
    width: 99%;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
  }
  .para p {
    margin-right: 20px;
  }
  .box1 {
    width: 90%;
    font-size: 13px;
    border: 1px solid black;
    margin-left: 18px;
    letter-spacing: 1px;
    padding: 5px 5px;
    line-height: 18px;
  }
  .box2 {
    margin: 0px;
    width: 90%;
    font-size: 13px;
    border: 1px solid black;
    margin-left: 18px;
    letter-spacing: 1px;
    padding: 5px 5px;
    line-height: 18px;
  }
  .contact1 {
    margin: 10% 0 0 0;
    font-size: 25px;
  }
  form {
    margin: 20px 0;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  label {
    font-size: 12px;
  }
  .map {
    font-size: 25px;
    padding-bottom: 25px;
  }
  .google-map iframe {
    width: 100%;
  }
}
