footer {
  width: 100%;
  height: 400px;
  padding-top: 30px;
  margin-top: 50px;

  background-image: url(/Images/home-images/footer/footer-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer-divs {
  display: flex;
  justify-content: center;
}
.fa-plus {
  display: none;
}

.footer-divs div {
  margin: 0 30px;
}

footer ul {
  list-style-type: none;
}

.heading {
  font-weight: 500;
  color: #ff8080;
}

footer li a {
  display: block;
  padding: 5px 0;
  font-size: 15px;
}

.our-category a span {
  font-size: 12px;
  color: #ff8080;
}

.social-links {
  margin-top: 50px;
}

.photoshoot .social-links ul {
  display: flex;
}

.social-links ul li {
  margin-right: 10px;
}

.social-links ul a .bx {
  font-size: 25px;
  color: #ff8080;
}

/* media queries */
@media screen and (max-width: 768px) {
  .footer-divs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .fa-plus {
    display: block;
    float: right;
    color: #ff8080;
  }

  .footer-divs li a {
    display: none;
  }
  .social-links ul li a {
    display: block;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
  }
}
