.form-section {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 235, 235);
}

#form1 {
  width: 400px;
  padding: 30px;
  background-color: white;
}

#form1 h1 {
  color: #a20000;
  text-align: center;
  padding-bottom: 20px;
}

.inputs input {
  display: block;
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  color: grey;
}

#form1 #btn {
  width: 100%;
  padding: 15px 0;
  border: none;
  background-color: #a20000;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

#form1 #btn:hover {
  background-color: rgb(255, 200, 200);
}

#signup {
  color: grey;
  padding: 20px 0;
}

#signup a {
  text-decoration: none;
  color: #a20000;
  font-weight: 600;
}

#signup a:hover {
  text-decoration: underline;
}
