html {
  scroll-behavior: smooth;
}
.mater-poster {
  width: 95%;
}
.mater-poster img {
  margin: 30px 0 30px 50px;
  width: 100%;
  object-fit: contain;
}

.heading {
  text-align: center;
  font-family: "Charmonman", cursive;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.grid-item img {
  margin: 10px 0;
  width: 300px;
  border: 1px solid grey;
  background-size: auto;
}
.section a {
  text-decoration: none;
  color: #a20000;
}
.product-name {
  display: block;
  font-size: 18px;
  text-align: center;
}
.price {
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 5px 0;
}

/* Baby Section  */

.outer-section {
  display: flex;
  margin: 50px 0;
  justify-content: space-evenly;
  align-items: center;
}
.container2 {
  width: 30%;
}
input,
label {
  display: block;
  margin: 5px 0;
  padding: 5px 0;
}
.file {
  border: 1px solid rgba(36, 24, 24, 0.333);
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="date"]:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.btn {
  margin: 10px 0;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #d00a57;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.side-img img {
  width: 700px;
  height: 700px;
  object-fit: contain;
}
.side-img1 img {
  width: 700px;
  height: 700px;
  object-fit: contain;
}
.list {
  width: 70%;
  margin: 20px 0;
}
.terms {
  margin: 70px 0;
}

.terms li {
  padding: 5px 0;
}
.container3 {
  display: flex;
  justify-content: center;
}

/* Pre-wedding */

pre-wedding-section {
  padding: 50px 0;
}
.heading1 {
  font-size: 40px;
  text-align: center;
  font-family: "Charmonman", cursive;
}

.pre-wedding-section h1 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

.pre-wedding-img {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pre-wedding-img img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  /* border: 1px solid grey; */
}

.showcase {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-para {
  width: 40%;
  margin: 0;
  padding: 0;
}
.left-para p {
  text-shadow: 2px 2px 8px #19d1b0;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  font-family: cursive;
}

.right {
  width: 520px;
  height: 600px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.book-btn {
  margin: 20px 100px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #d00a57;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.book-btn:hover {
  background-color: #be0565;
}

/* FAQ */

.faq-para {
  padding: 10px 0;
}
.faq {
  text-align: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.questions {
  width: 80%;
  margin-left: 6pc;
}
.accordion {
  margin: 8px 0;
  background-color: white;
  color: #a20000;

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.active,
.accordion:hover {
  /* background-color: #ccc; */
  color: black;
}

.accordion:after {
  content: "\002B";
  color: #a20000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: black;
}

.panel {
  padding: 0 18px;
  border-bottom: 1px solid grey;
  opacity: 0.5;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.contact-sec {
  /* background-color: lightsalmon; */
  padding: 10px 0;
}

.help {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  color: #a84d81;
}
.query {
  text-align: center;
  font-size: 18px;
  padding: -20px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.help-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.help-section > div {
  margin: 20px 0;
  text-align: center;
}

.connect {
  padding: 5px 0;
  color: #a84d81;
}
.num,
.timing {
  padding: 5px 0;
  color: grey;
  font-weight: 600;
}
.help-section i {
  font-size: 70px;
  color: #a84d81;
}

.prewed-poster {
  width: 95%;
}
.prewed-poster img {
  margin: 50px 0 50px 50px;
  width: 100%;
  object-fit: contain;
}

.baby-poster {
  width: 95%;
}
.baby-poster img {
  margin: 30px 0 50px 50px;
  width: 100%;
  object-fit: contain;
}
