/* maternity-photoshoot-section */

.maternity-photoshoot-section img {
  width: 100%;
}

.m-hero-img {
  display: block;
}

.m-hero-img-res {
  display: none;
}

/* photoshoot-form-section */

.photoshoot-form-section {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pf-img-div {
  width: 40%;
  padding: 0 30px;
}

.pf-img-div img {
  width: 100%;
}

.photoshoot-form {
  width: 40%;
  padding: 0 30px;
}

.photoshoot-form div {
  margin: 20px 0;
}

.photoshoot-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.photoshoot-form input,
.photoshoot-form textarea {
  width: 100%;
  padding: 15px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.photoshoot-form textarea {
  height: 150px;
}

#pf-submit-button {
  width: auto;
  padding: 10px 30px;
  background-color: #ff8080;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

/* FAQ */

.faq-para {
  padding: 10px 0;
}
.faq {
  text-align: center;
  color: #ff8080;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
}
.questions {
  margin: 0 auto;
  width: 60%;
}
.accordion {
  margin: 8px 0;
  background-color: white;
  color: #ff8080;

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.active,
.accordion:hover {
  color: black;
}

.accordion:after {
  content: "\002B";
  color: #ff8080;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: black;
}

.panel {
  padding: 0 18px;
  border-bottom: 1px solid grey;
  opacity: 0.5;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

@media (max-width: 799px) {
  /* maternity-photoshoot-section */

  .m-hero-img {
    display: none;
  }

  .m-hero-img-res {
    display: block;
  }

  /* photoshoot-form-section */

  .photoshoot-form-section {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pf-img-div {
    width: 100%;
    padding: 30px 0;
  }

  .pf-img-div img {
    width: 100%;
  }

  .photoshoot-form {
    width: 100%;
    padding: 0 30px;
  }

  /* FAQ */

  .questions {
    margin: 0 auto;
    width: 90%;
  }
}
