/* product-section */
.product-section {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* product */

.product {
  display: flex;
}

.product-small-img {
  float: left;
}

.product-small-img img {
  width: 60px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  opacity: 0.6;
}

.product-small-img img:hover {
  opacity: 1;
}

.img-container {
  width: 500px;
  height: 650px;
  margin-left: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* product-slider */

.product-slider {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.product-slider .product-img-slider {
  width: 70%;
}

.product-slider .product-img-slider img {
  width: 100%;
}

.arrow-prev .bx,
.arrow-next .bx {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 40px;
  color: lightgrey;
  background-color: rgb(245, 245, 245);
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* product-info */

.product-info {
  width: 35%;
  margin-left: 60px;
}

.brand-name {
  font-size: 14px;
  margin-bottom: 10px;
  color: grey;
}

.product-name {
  font-family: "Cinzel", serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-short-description {
  font-size: 18px;
  font-weight: 500;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

/* product-size-div */

.product-size-div {
  margin: 50px 0;
}

.size-chart {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.size-chart p {
  margin-right: 10px;
}

.size-chart a {
  text-decoration: underline;
  font-size: 14px;
  color: #ff8080;
}

.sizes ul {
  list-style-type: none;
  display: flex;
}

.sizes ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  margin-right: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 18px;
  color: grey;
  cursor: pointer;
}

.sizes .selected {
  background-color: #ff8080;
  border-color: #ff8080;
  color: white;
}

/* add-button */

.add-button {
  display: flex;
  align-items: center;
}

.add-button button {
  margin-right: 10px;
  cursor: pointer;
}

.wishlist-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff8080;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-btn .bx {
  font-size: 20px;
  color: #ff8080;
  transition: 0.4s;
}

.add-to-bag-btn {
  border: 1px solid #ff8080;
  padding: 10px 50px;
  background-color: #ff8080;
  color: white;
}

.buy-now-btn,
.rent-now-btn {
  border: 1px solid #ff8080;
  padding: 10px 50px;
  background-color: white;
  color: #ff8080;
}

/* product-detail */

.product-detail {
  margin: 50px 0;
}

/* accordion */

.accordion {
  background-color: white;
  border: solid lightgrey;
  border-width: 1px 1px 0 1px;
  color: grey;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s;
}

.des-active,
.accordion:hover {
  background-color: rgb(240, 240, 240);
}

.panel {
  padding: 0 20px;
  border: solid lightgrey;
  border-width: 0 1px 1px 1px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-size: 14px;
  padding: 20px 0;
}

#description p {
  display: inline;
  line-height: 30px;
  word-spacing: 2px;
  white-space: pre;
}

.accordion:after {
  content: "\002B";
  color: grey;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.des-active:after {
  content: "\2212";
}

/* more-product-section */

.more-product-section {
  margin-top: 100px;
  padding-bottom: 50px;
}

.more-product-section h1 {
  font-family: "Cinzel", serif;
  text-align: center;
  font-weight: 600;
}

.more-product-div {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.more-product-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1.5;
}

.more-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-product-info {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.more-product-info .bx {
  color: #ff8080;
  font-size: 25px;
  margin-right: 10px;
  transition: 0.4s;
}

.name {
  display: inline-block;
  margin-bottom: 8px;
}

.price {
  font-size: 15px;
  font-weight: 500;
  color: #ff8080;
}

@media (max-width: 699px) {
  /* product-section */
  .product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  /* product */

  .product {
    display: none;
  }

  .product-slider {
    display: flex;
  }

  /* product-info */

  .product-info {
    width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  .brand-name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .product-name {
    font-size: 20px;
  }

  .product-short-description {
    font-size: 15px;
  }

  .product-price {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
  }

  /* product-size-div */

  .product-size-div {
    margin: 40px 0;
  }

  /* add-button */

  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .add-button button {
    margin-right: 0;
    cursor: pointer;
  }

  .add-to-bag-btn {
    padding: 10px 30px;
    font-size: 15px;
  }

  .buy-now-btn,
  .rent-now-btn {
    padding: 10px 30px;
    font-size: 15px;
  }

  /* product-detail */

  .product-detail {
    margin: 50px 0;
    width: 100%;
  }

  /* more-product-section */

  .more-product-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .more-product-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    margin-top: 40px;
  }

  .more-product-img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1.5;
  }

  .more-product-info .bx {
    font-size: 20px;
    margin-right: 5px;
  }

  .name {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .price {
    font-size: 12px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  /* product-section */
  .product-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }

  /* product */

  .product {
    display: none;
  }

  .product-slider {
    width: 60%;
    display: flex;
  }

  /* product-info */

  .product-info {
    width: 40%;
    margin-left: 0;
    padding: 15px;
  }

  .brand-name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .product-name {
    font-size: 20px;
  }

  .product-short-description {
    font-size: 15px;
  }

  .product-price {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
  }

  /* product-size-div */

  .product-size-div {
    margin: 40px 0;
  }

  /* add-button */

  .add-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .add-button button {
    margin-right: 0;
    cursor: pointer;
  }

  .add-to-bag-btn {
    padding: 10px 30px;
    font-size: 15px;
    width: 100%;
  }

  .buy-now-btn,
  .rent-now-btn {
    padding: 10px 30px;
    font-size: 15px;
    width: 100%;
  }

  /* product-detail */

  .product-detail {
    margin: 50px 0;
    width: 100%;
  }

  /* more-product-section */

  .more-product-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .more-product-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    margin-top: 40px;
  }

  .more-product-img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1.5;
  }

  .more-product-info .bx {
    font-size: 20px;
    margin-right: 5px;
  }

  .name {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .price {
    font-size: 12px;
  }
}
