.profile {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

/* sidebar */
.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 30px;
  background-color: #fff6f2;
}

/* profile-div */

.profile-div {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ff8080;
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  margin: 0 20px;
}

.user-info #user-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}

.user-info #user-email {
  font-size: 12px;
}

/* profile-nav */

.profile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-nav button {
  display: flex;
  align-items: center;
  background-color: #ff8080;
  padding: 10px 40px;
  border: none;
  outline: none;
  transition: transform 0.3s;
  cursor: pointer;
}

.profile-nav .nav-active {
  transform: translateX(60px);
}

.profile-nav button img {
  height: 40px;
}

.profile-nav button span {
  font-size: 18px;
  margin-left: 20px;
  color: white;
}

.logout-btn {
  width: fit-content;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

/* my-profile-section */

.my-profile-section {
  width: 50%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-section h2 {
  font-size: 22px;
  font-family: "Cinzel", serif;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ff8080;
}

.my-profile-info {
  width: 100%;
}

.pi-title,
.ei-title,
.ci-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.p {
  font-size: 15px;
  font-weight: 500;
}

.edit-btn {
  font-size: 12px;
  font-weight: 600;
  color: #ff8080;
}

.edit-btn:hover {
  cursor: pointer;
}

.info-div {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.info-div label,
.gender #gender-title {
  font-size: 14px;
  width: 150px;
}

.gender {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.gender label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
}

.gender input {
  margin-left: 20px;
  margin-right: 5px;
}

/* alert */
.alert {
  font-size: 12px;
  text-decoration: underline;
  color: red;
}

.info-div input {
  padding: 5px 10px;
  width: 250px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  margin: 0 20px;
  background-color: rgb(245, 245, 245);
}

.info {
  padding-bottom: 20px;
  border-bottom: 1px solid #ff8080;
}

.email-info,
.contact-info {
  margin-top: 20px;
}

.contact-info {
  border: none;
}

/* my- orders-section */

.my-orders-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* no-order-div */

.no-orders-div,
.no-address-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#no-p1 {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0;
}

#no-p2 {
  font-size: 14px;
  padding: 5px 0;
}

.continue-shopping-btn,
.add-new-address-btn {
  padding: 10px 40px;
  border: 1px solid #ff8080;
  color: #ff8080;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  margin: 20px 0;
  cursor: pointer;
}
.continue-shopping-btn:hover {
  background-color: #fff6f2;
}

/* orders-div */

.orders-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-div h2 {
  font-size: 22px;
  font-family: "Cinzel", serif;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ff8080;
}

.orders-list {
  width: 100%;
}

.order {
  width: 100%;
  height: 120px;
  background-color: #fff6f2;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.order-info {
  display: flex;
}

.order-img img {
  width: 80px;
  height: 100%;
  object-fit: cover;
}

.ordered-product-info {
  margin-left: 20px;
}

.ordered-product-info #ordered-product-name {
  font-size: 15px;
  font-weight: 500;
}

.ordered-product-info #ordered-product-size {
  font-size: 12px;
  color: grey;
  font-weight: 500;
  padding: 10px 0;
}

.ordered-product-info #ordered-product-prize {
  font-size: 15px;
  font-weight: 500;
  color: #ff8080;
}

.order-delivery-info #order-date {
  display: flex;
  align-items: center;
}

#order-date .bx {
  font-size: 18px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: rgb(0, 180, 0);
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#order-date span {
  font-size: 15px;
  font-weight: 600;
}

.order-delivery-info #order-alert {
  font-size: 12px;
  font-weight: 500;
  color: grey;
  margin: 10px 0;
}

.order-delivery-info #detail-info {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}

/* address-section */

.my-addresses-section {
  width: 50%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-title,
#address-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ff8080;
}

/* address-container */

.address-div {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.edit-delete-btn {
  display: flex;
}

.edit-delete-btn button {
  border: none;
  color: grey;
  padding: 3px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  margin-right: 10px;
}
.edit-delete-btn button:hover {
  text-decoration: underline;
}

#my-name-phone span {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  padding: 10px 0;
  display: inline-block;
}

#my-address {
  font-size: 15px;
}

/* address-form */

.address-form {
  width: 100%;
}

.box1,
.box2,
.box4 {
  display: flex;
  margin: 20px 0;
}

.name,
.pincode,
.city {
  margin-right: 20px;
}

.box1 div label,
.box2 div label,
.box3 label,
.box4 div label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  margin-bottom: 5px;
}

.box1 div input,
.box2 div input,
.box4 div input,
.box4 div select,
.box5 div select {
  width: 300px;
  height: 40px;
  outline: none;
  border: 1px solid lightgrey;
  font-size: 16px;
  padding: 0 10px;
}

.box3 textarea {
  width: 620px;
  height: 100px;
  resize: none;
  padding: 10px;
  outline: none;
  border: 1px solid lightgrey;
}

/* form-btn */

#save-btn,
#cancel-btn {
  width: 150px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #ff8080;
  cursor: pointer;
  transition: all 0.3s;
}

#save-btn {
  background-color: #ff8080;
  color: white;
}

#cancel-btn {
  background-color: white;
  color: #ff8080;
}

#save-btn:hover,
#cancel-btn:hover {
  background-color: #fff6f2;
  color: #ff8080;
}

/* ------ otp popup ------- */

#otp-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(1, 0%, 0%, 0.45);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#otp-popup {
  width: 218px;
  height: 335px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.otp-values input {
  width: 20px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#otp-popup .close-btn {
  font-size: 24px;
  cursor: pointer;
}

#otp-popup .close-btn {
  font-size: 30px;
  text-align: end;
  margin-right: 4px;
}

#otp-popup .resend-otp {
  cursor: pointer;
}

.confirm-close-otp {
  position: fixed;
  background: #fac2c2;
  width: 188px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 28px;
  margin-bottom: 156px;
}
