.profile {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

/* sidebar */
.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 30px;
  background-color: #fff6f2;
}

/* profile-div */

.profile-div {
  display: flex;
  align-items: center;
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  margin: 0 20px;
}

.user-info #user-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}

.user-info #user-email {
  font-size: 12px;
}

/* profile-nav */

.profile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-nav a {
  display: flex;
  align-items: center;
  background-color: #ff8080;
  padding: 10px 30px;
  color: rgb(100, 100, 100);
  transition: transform 0.3s;
}

.profile-nav a img {
  height: 40px;
}

.profile-nav a span {
  font-size: 18px;
  margin-left: 20px;
  color: white;
}

.logout-btn {
  width: fit-content;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

/* my-profile-section */

.my-profile-section {
  width: 50%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-section h2 {
  font-size: 22px;
  font-family: "Cinzel", serif;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ff8080;
}

.my-profile-info {
  width: 100%;
}

.pi-title,
.ei-title,
.ci-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.p {
  font-size: 15px;
  font-weight: 500;
}

.edit-btn {
  font-size: 12px;
  font-weight: 600;
  color: #ff8080;
}

.edit-btn:hover {
  cursor: pointer;
}

.info-div {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.info-div label,
.gender #gender-title {
  font-size: 14px;
  width: 150px;
}

.gender {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.gender label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
}

.gender input {
  margin-left: 20px;
  margin-right: 5px;
}

/* alert */
.alert {
  font-size: 12px;
  text-decoration: underline;
  color: red;
}

.info-div input {
  padding: 5px 10px;
  width: 250px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  margin: 0 20px;
  background-color: rgb(245, 245, 245);
}

.info {
  padding-bottom: 20px;
  border-bottom: 1px solid #ff8080;
}

.email-info,
.contact-info {
  margin-top: 20px;
}

.contact-info {
  border: none;
}
