/* carousel */
.slick-slide div {
  width: 100%;
}

.slick-slide div img {
  width: 100%;
}

/* category-section */

.category-section {
  padding: 30px 0;
}

.category-section h1 {
  font-family: "Charmonman", cursive;
  font-size: 30px;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.category img {
  width: 200px;
  margin-bottom: 10px;
}

/* home gowns section*/

.home-gown-section {
  padding: 50px 0;
  background-color: #fff9f9;
}

.home-gowns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.home-gown-section h1 {
  font-family: "Charmonman", cursive;
  font-size: 30px;
  text-align: center;
}

.home-gown-section h2 {
  font-size: 30px;
  color: #ff8080;
  text-align: center;
  margin-top: -15px;
}

/* home-gown-item */

.home-gowns-item {
  margin: 0 20px;
}

.home-gown-img img {
  width: 320px;
}

.item-info {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.item-info .bx {
  color: #ff8080;
  font-size: 25px;
  margin-right: 10px;
}

.name {
  display: inline-block;
  margin-bottom: 8px;
}

.price {
  font-size: 15px;
  font-weight: 500;
  color: #ff8080;
}

/* view all button */

.viewAll-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.viewAll-btn a {
  padding: 10px 30px;
  background-color: #ff8080;
  color: white;
}

/* m-gown-section */

.m-gown-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.m-gown-slider {
  width: 50%;
}

.m-gown-title {
  margin-left: 100px;
}

.m-gown-title h1 {
  font-family: "Charmonman", cursive;
  font-size: 50px;
  text-align: center;
}

.m-gown-btn {
  margin-top: 50px;
}

.m-gown-title h2 {
  font-size: 40px;
  color: #ff8080;
  text-align: center;
  margin-top: -10px;
}

.m-gown-btn a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ff8080;
  color: white;
  font-size: 18px;
  margin: 0 20px;
}

/* more-gown-sectin */

.more-gown-section {
  padding-bottom: 50px;
}

.mg-items {
  display: flex;
  justify-content: center;
}

.mg-item {
  margin: 0 20px;
}

.mg-img {
  width: 330px;
  height: 500px;
}

.mg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* lehenga-section */

.lehenga-section {
  padding: 50px 0;
  background-color: rgb(255, 220, 220);
}

.l-div {
  display: flex;
  justify-content: center;
}

.l-div a {
  width: 35%;
  margin: 30px 20px;
}

.l-div a img {
  width: 100%;
}

.lehenga-section h1 {
  font-family: "Charmonman", cursive;
  font-size: 30px;
  text-align: center;
}

.lehenga-section h2 {
  font-size: 30px;
  color: #ff8080;
  text-align: center;
  margin-top: -15px;
}
