/* header */

/* top-bar */
.top-bar {
  width: 100%;
  height: 30px;
  background-color: #ff8080;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 100px;
}

.top-bar marquee {
  font-size: 12px;
  color: white;
}

/* nav1 */

.nav1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 50px;
}

.left-nav,
.logo,
.right-nav {
  display: flex;
  align-items: center;
}

.left-nav {
  justify-content: left;
}
.left-nav a {
  margin-right: 20px;
  font-size: 14px;
}
.left-nav a .bx {
  font-size: 15px;
}

.logo {
  justify-content: center;
}

#logo {
  height: 45px;
}

.right-nav {
  justify-content: right;
}

.right-nav a {
  margin-left: 20px;
}

.right-nav img {
  height: 30px;
}

/* nav2 */

.nav2 {
  background-color: #fff6f2;
}

#photoshoot,
#rental-dresses {
  color: #ff8080;
}
#photoshoot:hover,
#kids:hover,
#accessories:hover {
  border-bottom: 3px solid #ff8080;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li a {
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ff808000;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-link {
  border-bottom: 3px solid #ff8080;
}

.dropdown-link .bx {
  font-size: 25px;
}

.dropdown-content a:hover {
  background-color: #ff8080;
  color: white;
}

.dropdown-content {
  width: 250px;
  position: absolute;
  display: none;
  list-style: none;
  background-color: white;
  box-shadow: 0 5px 10px lightgrey;
  z-index: 100;
}

.dropdown-content li a {
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  white-space: nowrap;
}
