/* dress-section */
.dress-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* filter-sidebar */

.filter-sidebar {
  /* background-color: aliceblue; */
  padding: 40px 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.filters #filter-title {
  font-size: 18px;
  font-weight: 600;
}

.filters #clear-all {
  font-size: 14px;
  color: grey;
  text-decoration: underline;
}

/* accordion */

.accordion {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  width: 200px;
  text-align: left;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .active,
.accordion:hover {
  background-color: rgb(250, 250, 250);
} */

.panel {
  /* padding: 0 20px; */
  border-bottom: 1px solid lightgrey;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel .select-filter {
  padding-bottom: 15px;
}

.select-filter input {
  margin-bottom: 15px;
}

.select-filter label {
  font-size: 13px;
}

.accordion:after {
  content: "\002B";
  color: grey;
  font-size: 30px;
  font-weight: 300;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* dress-title */

.dress-title {
  padding: 40px 60px;
}

.dress-title h1 {
  font-family: "Cinzel", serif;
  font-weight: 600;
}

.dress-title p {
  font-size: 14px;
  color: grey;
}

/* dress-div */

/* dress-grid */

.dress-grid {
  padding: 0 60px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 15px;
}

/* dres-div */

.item {
  width: 350px;
  height: fit-content;
}

.item-img {
  display: block;
  width: 100%;
  height: 500px;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.name-price {
  flex: 1;
}

.name {
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.price {
  font-size: 15px;
  font-weight: 500;
  color: #ff8080;
}

.add .bx {
  color: #ff8080;
  font-size: 25px;
  margin-right: 10px;
  transition: 0.4s;
}

/* Media Queries */
